<div class="wrapper">
    <div class="page-header header-filter">
        <div *ngFor="let irflTask of irflTasks; let i = index" class="container center-container">
            <div class="content-center brand">
                <div class="task-container">
                    <app-task-board class="analogies-board" [irflTask]="irflTask" [enablePointer]="false"
                                    [testMode]="testMode" [submit]="_submit" [disableSolutionIcons]="!solveCreate"
                                    [info]="'Several images are presented below. \n A cue word and number of associated images are given. \n                     Choose the images that best associates with the cue word.'">
                    </app-task-board>
                    <div class="test-me-container">
                        <button class="btn btn-neutral btn-big" *ngIf="testMode" [ngClass]="{'submitted': _submit}"
                                (click)="submit(i)">{{ 'Submit' }}</button>
                    </div>
                    <div class="label hint" [ngClass]="{'no-clue': hint === ''}">
                        {{hint}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Lampent</a>
            </div>
        </div>
    </footer>
</div>


