<div class="wrapper">
    <canvas id="confetti" [ngStyle]="{position: 'absolute', 'pointer-events': 'none'}"></canvas>
    <div class="page-header header-filter">
        <div class="container center-container" *ngIf="imageClassificationTasks?.length || workerStats">
            <div class="content-center brand">
                <div style="color:black; font-size: 30px; padding-bottom: 20px">
                    Dear worker, this is your personal profile page.<br>
                    Below you will find your statistics and some uncommon annotation scenarios.
                </div>
                <div style="color:black; font-size: 28px; padding-bottom: 20px">
                    <b>Statistics</b>
                </div>
                Small disclaimers
                <div style="color:black; font-size: 22px; text-align: left;  padding-bottom: 20px">
                    Number of Figurative Literal annotated {{workerStats['Figurative Literal']}}<br>
                    Number of Figurative annotated {{workerStats['Figurative']}}<br>
                    Number of Caption annotated {{workerStats['Caption']}}<br>
                    Number of Partial Objects annotated {{workerStats['Figurative']}}<br>
                    Number of None annotated {{workerStats['None']}}<br>
                </div>
                <div style="color:black; font-size: 28px; padding-bottom: 20px">
                    <b>Agreement</b>
                </div>
                <div style="color:black; font-size: 22px; padding-bottom: 20px">
                    Agreement is the parentage of images you annotated "correctly"<br> (by majority of 3 annotators or more)
                </div>
                <div style="color:black; font-size: 22px; text-align: left; padding-bottom: 20px">
                    Total Agreement {{(workerStats['agreement'].toFixed(2)*100).toFixed(1)}}%<br>
                    Figurative Literal Agreement {{(workerStats['Figurative Literal_agreement']*100).toFixed(1)}}%<br>
                    Figurative Agreement {{(workerStats['Figurative_agreement']*100).toFixed(1)}}%<br>
                    Caption Agreement {{(workerStats['Caption_agreement']*100).toFixed(1)}}%<br>
                    Partial Objects Agreement {{(workerStats['Figurative_agreement']*100).toFixed(1)}}%<br>
                    None Agreement {{(workerStats['None_agreement']*100).toFixed(1)}}%<br>
                </div>
                <div style="color:black; font-size: 30px; padding-bottom: 20px">
                    <b>Spacial annotation cases</b>
                </div>
                <div class="task-container">
<!--                    <app-image-classification-board [imageClassificationTask]="example" [_submit]="_submit"></app-image-classification-board>-->
                    <app-image-classification-board *ngFor="let task of imageClassificationTasks; let i = index;" class="analogies-board" [imageClassificationTask]="task"
                                                    [reviewMode]="true" [showHint]="_submit" [showCorrectAnswer]="_submit" [submit]="_submit" [isFirst]="i === 0">
                    </app-image-classification-board>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Lampent</a>
            </div>
        </div>
    </footer>
</div>


