<canvas id="confetti" [ngStyle]="{position: 'absolute', 'pointer-events': 'none'}"></canvas>
<h3 style="text-transform: none;">{{title}}</h3>
<div class="analogy-container">
    <div class="cue-line-container" style="padding-bottom: 20px">
        <div class="flex-center" style="padding-bottom: 10px; width: 100%;">
            <div class="main-description first-main-description" id="pink-box" *ngIf="isFirst && !isSimile && !reviewMode">
                <p style="padding-bottom: 7px;">Choose the most correct category that describe the relation between the
                    image and the phrase.</p>
                <p style="padding-bottom: 8px;"><b>Figurative Literal:</b> The image conveys one or more definitions of the idiom to some extent, <b>and</b> it literally illustrates the <b>phrase </b>
                    <u>or</u> visualizes the <b>phrase</b> objects/entities.</p>
                <p style="padding-bottom: 8px;"><b>Figurative:</b> The image conveys one or more definitions of the idiom to some extent, <b>and it does <u>not</u></b> literally illustrate the phrase
                    or visualize its objects/entities.</p>
                <p style="padding-bottom: 8px;"><b>Caption:</b> The image is not <u>Figurative Literal</u> and <u>Figurative</u>. It illustrates the <u>phrase</u> (not the definitions) literally.</p>
                <p style="padding-bottom: 8px;"><b>Partial Objects:</b> The image is not <u>Figurative Literal</u>, <u>Figurative</u>, or <u>Caption</u>. The main objects/entities of the phrase are visualized in the image.</p>
                <p style="padding-bottom: 8px;"><b>None:</b> The image is not <u>Figurative Literal</u>, <u>Figurative</u>, <u>Caption</u>, or <u>Partial Objects</u>.</p>
                <!--                <p><b>Incomprehensible:</b> It does not contain objects or entities, <u>or</u> it is unclear what the-->
                <!--                    image represents.</p>-->
                <p style="padding-top: 16px;"><b>You can view the full instructions by clicking <a
                        style="font-weight: 500"
                        href="https://drive.google.com/file/d/1MvHDd9lFaU10lDoqlqXwlEjzoBVAvYcA/view?usp=sharing"
                        target="_blank">here</a>.</b></p>
            </div>

        </div>
        <div class="board top-board box-shadow">
            <div class="main-description" *ngIf="showTree">
                <i class="close-icon fa-solid fa-circle-xmark" (click)="toggleTree()"></i>
                <img src="assets/img/steps%20tree.PNG">
            </div>
            <div class="main-description" *ngIf="showInfo && !isSimile">
                <i class="close-icon fa-solid fa-circle-xmark" (click)="toggleInfo()"></i>
                <p style="padding-bottom: 7px;">Choose the most correct category that describe the relation between the
                    image and the phrase.</p>
                <p style="padding-bottom: 8px;"><b>Figurative Literal:</b> The image conveys one or more definitions of the idiom to some extent, <b>and</b> it literally illustrates the <b>phrase </b>
                    <u>or</u> visualizes the <b>phrase</b> objects/entities.</p>
                <p style="padding-bottom: 8px;"><b>Figurative:</b> The image conveys one or more definitions of the idiom to some extent, <b>and it does <u>not</u></b> literally illustrate the phrase
                    or visualize its objects/entities.</p>
                <p style="padding-bottom: 8px;"><b>Caption:</b> The image is not <u>Figurative Literal</u> and <u>Figurative</u>. It illustrates the <u>phrase</u> (not the definitions) literally.</p>
                <p style="padding-bottom: 8px;"><b>Partial Objects:</b> The image is not <u>Figurative Literal</u>, <u>Figurative</u>, or <u>Caption</u>. The main objects/entities of the phrase are visualized in the image.</p>
                <p style="padding-bottom: 8px;"><b>None:</b> The image is not <u>Figurative Literal</u>, <u>Figurative</u>, <u>Caption</u>, or <u>Partial Objects</u>.</p>
                <!--                <p><b>Incomprehensible:</b> It does not contain objects or entities, <u>or</u> it is unclear what the-->
                <!--                    image represents.</p>-->
                <p style="padding-top: 16px;"><b>You can view the full instructions by clicking <a
                        style="font-weight: 500"
                        href="https://drive.google.com/file/d/1MvHDd9lFaU10lDoqlqXwlEjzoBVAvYcA/view?usp=sharing"
                        target="_blank">here</a>.</b></p>
            </div>
            <div class="cue-board">
                <div class="label board-title pink-box" id='phrase-title'>Phrase</div>
                <form class="example-form">
                    <mat-form-field class="example-full-width no-underline-mat-field" appearance="fill">
                        <input matInput [formControl]="phraseFormControl" [readonly]="true" autocomplete="off"/>
                        <mat-error *ngIf="!phraseFormControl.valid && phraseFormControl.value != ''">
                            Error
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
            <img *ngIf="!isSimile" class="tree-icon" src="assets/img/tree%20icon.png" id="tree-button" (click)="toggleTree()">
            <i class="fas fa-info-circle" aria-hidden="true" id='instructions-icon'  (click)="toggleInfo()"></i>
        </div>

        <div style="padding-top: 10px" *ngIf="this._imageClassificationTask.definitions.length > 0 && !isSimile">
            <div class="definitions-board box-shadow">
                <!--                <div class="label board-title">Definitions</div>-->
                <div class="example-full-width">
                    <ul class="definitions-list">
                        <li style="color: #4d5568 !important;" id="definitions-title">Definitions:</li>
                        <li style="word-break: break-word"
                            *ngFor="let definition of this._imageClassificationTask.definitions; let i = index;">{{i + 1 + '. ' + definition}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="left-board">
        <div class="images-board box-shadow">
            <div>
                <img class="task-image" [id]=imageId (mouseout)="hideZoom()" (mouseover)="showZoom()"
                     src="{{_imageClassificationTask.irflImage.img}}">
            </div>
        </div>

        <div class="images-board" >
            <ul class="secondary-category-list" *ngIf="!reviewMode && isSimile">
                <li class="irfl-category irfl-secondary-category" (click)="selectCategory(null, category)"
                    *ngFor="let category of secondaryCategories; let i = index;"
                    [ngClass]="{
                    'selected-category': this._imageClassificationTask.secondaryCategory == category,
                    'correct-category': this._imageClassificationTask.correctSecondaryCategory == category && showCorrectAnswer
                    }">{{category}}</li>
            </ul>
            <ul class="category-list" [style]="{'padding-top': isSimile ? '12px !important' : '0'}" *ngIf="!reviewMode">
                <li class="irfl-category" (click)="selectCategory(category)"
                    *ngFor="let category of categories; let i = index;"
                    [ngClass]="{
                    'selected-category': this._imageClassificationTask.category == category,
                    'correct-category': this._imageClassificationTask.correctCategory == category && showCorrectAnswer
                    }">{{category}}</li>
            </ul>
            <ul class="category-list" *ngIf="reviewMode">
                <li class="irfl-review-div" *ngIf="_imageClassificationTask.serverData['no_agreement_with_majority_of_four']">
                    <div class="irfl-review-div-item">
                        <u>Four annotators</u> chose <b>{{_imageClassificationTask.serverData['category']}}</b>
                    </div>
                    <div class="irfl-review-div-item">
                        You chose <b>{{_imageClassificationTask.serverData['worker_label']}}</b>
                    </div>
                </li>
                <li class="irfl-review-div" *ngIf="_imageClassificationTask.serverData['answer_family_different_from_two_options_with_different_family']">
                    <div class="irfl-review-div-item">
                        There was a split decision (2 vs 2) between two <u>unrelated</u> types <b>{{_imageClassificationTask.serverData['options'][0]}}</b> and  <b>{{_imageClassificationTask.serverData['options'][1]}}</b>
                    </div>
                    <div class="irfl-review-div-item">
                        You chose <b>{{_imageClassificationTask.serverData['worker_label']}}</b>
                    </div>
                </li>
                <li class="irfl-review-div" *ngIf="_imageClassificationTask.serverData['answer_family_different_from_two_options_with_same_family']">
                    <div class="irfl-review-div-item">
                        There was a split decision (2 vs 2) between two <u>related</u> types <b>{{_imageClassificationTask.serverData['options'][0]}}</b> and  <b>{{_imageClassificationTask.serverData['options'][1]}}</b>
                    </div>
                    <div class="irfl-review-div-item">
                        You chose <b>{{_imageClassificationTask.serverData['worker_label']}}</b>
                    </div>
                </li>
                <li class="irfl-review-div" *ngIf="_imageClassificationTask.serverData['answer_specified']">
                    <div class="irfl-review-div-item">
                        There correct category is <b>{{_imageClassificationTask.serverData['category']}}</b>
                    </div>
                    <div class="irfl-review-div-item">
                        You chose <b>{{_imageClassificationTask.serverData['worker_label']}}</b>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="annotations" class="annotations-details">{{annotations}}</div>
    <div *ngIf="annotations" class="annotations-details">{{'Agreement: ' + annotationsAgreement}}</div>
    <div *ngIf="workerStar" class="annotations-details">{{'Star: ' + workerStar}}</div>
    <div *ngIf="annotations" class="annotations-details">{{'IRFL_id: ' + this._imageClassificationTask.irflImage.name + '_' + this._imageClassificationTask.phrase}}</div>
    <div *ngIf="annotations" class="annotations-details">{{'UUID: ' + this._imageClassificationTask.id + '_' + this._imageClassificationTask.phrase}}</div>

    <div class="hint" [ngStyle]="{'opacity': showHint ? 1 : 0}">
        <div style="position: absolute">
            <i *ngIf="_imageClassificationTask.correctCategory !== this._imageClassificationTask.category"
               [style.color]="'red'" class="fas fa-times"></i>
            <i *ngIf="this._imageClassificationTask.correctCategory === this._imageClassificationTask.category"
               [style.color]="'green'" class="fas fa-check"></i>
        </div>
        <div style="margin-left: 35px;">
            <u>Hint:</u> {{this._imageClassificationTask.hint}}
        </div>
    </div>
</div>

