<app-navbar [isCollapsed]="isCollapsed"></app-navbar>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container">
            <div class="nav-tabs-danger">
                    <div class="content-center brand ai-leaderboard">
                        <h4 class="main-label">
                            AI Models Leaderboard 🏆
                        </h4>
                        <div class="submit-label">To submit your model performance to our leaderboard, send us the details to <a href="mailto:irfl.dataset@gmail.com
">irfl.dataset@gmail.com</a>.

                        </div>
                        <tabset class="task-tabs">
                            <tab heading="Understanding Task" (selectTab)="onUnderstandingTaskSelected()">

                            </tab>
                            <tab heading="Preference Task" (selectTab)="onPreferenceTaskSelected()">

                            </tab>
                        </tabset>
                        <div class="leaderboard-container">
                            <div class="container">
                                <ul class="responsive-table">
                                    <li class="table-header">
                                        <div class="col-leaderboard col-2-AI-leaderboard">Model</div>
                                        <div class="col-leaderboard col-3-leaderboard">Idiom</div>
                                        <div class="col-leaderboard col-5-leaderboard">Metaphor</div>
                                        <div class="col-leaderboard col-4-leaderboard">Simile</div>
                                    </li>

                                    <li class="table-row" *ngFor="let model of (selectedTask == 'understanding' ? understandingTaskModels : preferenceTaskModels)">
                                        <div class="col-leaderboard col-2-AI-leaderboard" data-label="Model">{{model.name}}</div>
                                        <div class="col-leaderboard col-3-leaderboard" data-label="Idiom">{{model["Idiom"] != '-' && selectedTask == 'understanding' ? (model["Idiom"] + '%') : model["Idiom"]}}</div>
                                        <div class="col-leaderboard col-4-leaderboard" data-label="Metaphor">{{selectedTask == 'understanding' ? (model["Metaphor"] + '%') : model["Metaphor"]}}</div>
                                        <div class="col-leaderboard col-5-leaderboard" data-label="Simile">{{selectedTask == 'understanding' ? (model["Simile"] + '%') : model["Simile"]}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Lampent</a>
            </div>
        </div>
    </footer>
</div>