<app-navbar [isCollapsed]="isCollapsed"></app-navbar>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container">
            <div class="nav-tabs-danger">
                    <div class="content-center brand ai-leaderboard">
                        <h4 class="main-label">
                            AI Models Leaderboard 🏆
                        </h4>
                        <div class="medium-note padding-bottom">To submit your model performance to our leaderboard, send us the details to <a href="mailto:ron.yosef@mail.huji.ac.il">ron.yosef@mail.huji.ac.il</a>.</div>
                        <div class="leaderboard-container">
                            <div class="container">
                                <ul class="responsive-table">
                                    <li class="table-header">
                                        <div class="col-leaderboard col-2-AI-leaderboard">Model</div>
                                        <div class="col-leaderboard col-3-leaderboard">cat_1</div>
                                        <div class="col-leaderboard col-4-leaderboard">cat_2</div>
                                    </li>

                                    <li class="table-row" *ngFor="let model of models">
                                        <div class="col-leaderboard col-2-AI-leaderboard" data-label="Model">{{model.name}}</div>
                                        <div class="col-leaderboard col-3-leaderboard" data-label="cat_1">{{model["cat_1"]}}</div>
                                        <div class="col-leaderboard col-4-leaderboard" data-label="cat_2">{{model['cat_2']}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Ron Yosef</a>
            </div>
        </div>
    </footer>
</div>