<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container center-container">
            <div class="content-center brand">
                <h4 class="h1-seo">IRFL: Image Recognition of Figurative Language
                </h4>
                <h3 style="padding-top: 2rem">
                    Four images and {{selectedFigureOfSpeech}} are presented below.
                    <br/>
                    <h3 *ngIf="selectedFigureOfSpeech === 'an idiom'"> Choose the image that conveys one or more definitions of the idiom. </h3>
                    <h3 *ngIf="selectedFigureOfSpeech === 'a metaphor'"> Choose the image that conveys the metaphorical message. </h3>
                    <h3 *ngIf="selectedFigureOfSpeech === 'a simile'"> Choose the image that matches the simile. </h3>
                    <br/>
                </h3>
                <tabset class="nav-tabs-danger">
                    <tab heading="Idiom" (selectTab)="onIdiomTabSelected()">
                        <app-task-board *ngIf="selectedFigureOfSpeech === 'an idiom'" class="analogies-board" [irflTask]="idiom" [enablePointer]="true"></app-task-board>
                    </tab>
                    <tab heading="Metaphor" (selectTab)="onMetaphorTabSelected()">
                        <app-task-board *ngIf="selectedFigureOfSpeech === 'a metaphor'" class="analogies-board" [irflTask]="metaphor" [enablePointer]="true"></app-task-board>
                    </tab>
                    <tab heading="Simile" (selectTab)="onSimileTabSelected()">
                        <app-task-board *ngIf="selectedFigureOfSpeech === 'a simile'" class="analogies-board" [irflTask]="simile" [enablePointer]="true"></app-task-board>
                    </tab>
                </tabset>

            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container stats-container">
                <div class="stats-lower-label">
                    Explore the different task types in the IRFL dataset on the <a class="stats-page-ref" href="./explore">Explore</a> page.
                </div>
                <div class="stats-row">
                    <div class="stats-block">
                        <div class="stat-label">10K+</div>
                        <div class="stat-description">Images</div>
                    </div>
                    <div class="stats-block">
                        <div class="stat-label"><52%</div>
                        <div class="stat-description">Model Success Rate</div>
                    </div>
                    <div class="stats-block">
                        <div class="stat-label">>97%</div>
                        <div class="stat-description">Human Successes Rate</div>
                    </div>
                </div>
            </div>


        </div>
        <div class="section" style="padding-bottom: 0;">
            <div class="container">
                <h3 class="mb-5 sub-title">Paper</h3>
                <div class="abstract">
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0001.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0002.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0003.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0004.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0005.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0006.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0007.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0008.jpg"/>
                    <img src="/assets/img/paper/ACL23__IRFL%20(7)_page-0009.jpg"/>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div id="images">
                    <h3 class="mb-5 sub-title">Authors</h3>
                    <div class="row">
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                <a href="https://ron-yosef.com/" class="flex">
                                    <img class="uni-logo" src="assets/img/hebrew-university-logo.jpg"> Ron Yosef
                                </a>
                            </small>
                            <a href="https://ron-yosef.com/" class="flex">
                                <img
                                        alt="Raised image"
                                        class="img-fluid rounded shadow-lg"
                                        src="/assets/img/Ron%20Yosef.png"
                                        style="width: 150px;"
                                />
                            </a>
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                <a href="https://yonatanbitton.github.io/" class="flex">
                                    <img class="uni-logo" src="assets/img/hebrew-university-logo.jpg"> Yonatan Bitton
                                </a>
                            </small>
                            <a href="https://yonatanbitton.github.io/">
                                <img
                                        alt="Raised image"
                                        class="img-fluid rounded shadow-lg"
                                        src="/assets/img/Yonatan%20Bitton.png"
                                        style="width: 150px;"
                                />
                            </a>
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                <a href="http://www.hyadatalab.com/people.html" class="flex">
                                    <img class="uni-logo" src="assets/img/hebrew-university-logo.jpg"> Dafna Shahaf
                                </a>
                            </small>
                            <a href="http://www.hyadatalab.com/people.html" class="flex">
                                <img
                                        alt="Raised image"
                                        class="img-fluid rounded shadow-lg"
                                        src="/assets/img/dafna shahaf.jpg"
                                        style="width: 150px;"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a>Maintained by Lampent</a>
            </div>
        </div>
    </footer>
</div>
